body {
    background-color: #E6E6E8;
    color: #040404;
    font-family: 'Arial';
}

.fileselect {
}

.main-interface {
    display:flex;
    justify-content: space-around;
    padding: 30px;
    border: 1px;
    border-color: black;
    border-style: dashed;
    margin-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

input[type=number] {
    width: 50px;
    border: 1px;
}

#submit_button {
    width: 60px;
    height: 60px;
    border-radius: 2pt;
    background-color: #161618;
    color: white;
}
    
#submit_button:hover {
    cursor: pointer;
    color: white;
    background-color: #262628;
}
